# Entornos virtuales
.venv/
venv/
env/
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Sistema
.DS_Store
Thumbs.db

# Archivos temporales
*.tmp
*.log
~$*

# Archivos muy pesados o comprimidos
*.zip
*.rar
*.7z

# Credenciales o archivos sensibles
*.env
.env
credentials.json
token.json
secrets.*
